@import "tailwindcss";

@theme {
  --color-primary: rgb(127, 44, 203);
  --color-secondary: rgb(255, 132, 232);
  --color-delft-blue: rgb(65, 67, 97);
  --color-space-cadet: rgb(42, 45, 67);
  --color-lavender-pink: rgb(255, 169, 231);
}

@layer components {
  .background-clip {
    clip-path: polygon(0 0, 89% 0, 100% 100%, 0 100%) ;
  }
  .background-clip-reverse {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-delft-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
